Repository tashiscool/WallStreetBots: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, pytest-check

.pre-commit-config.yaml:

# Pre-commit hooks for WallStreetBots
repos:
  # Python code formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: debug-statements
      - id: name-tests-test
        args: ['--pytest-test-first']

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12

  # Python linting with Ruff (fast alternative to flake8, pylint)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies:
          - django-stubs
          - types-requests
          - types-redis
          - types-pytz
        args: [--ignore-missing-imports]

  # Security linting
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency security scanning
  - repo: https://github.com/pyupio/safety
    rev: 3.2.11
    hooks:
      - id: safety
        args: [--ignore=70612]  # Ignore jinja2 CVE that's not exploitable in our context

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django system check
        entry: python manage.py check
        language: system
        types: [python]
        pass_filenames: false
        files: ^(backend/|manage\.py)

  # Tests
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest
        entry: python -m pytest tests/ -x --tb=short
        language: system
        types: [python]
        pass_filenames: false
        files: ^(backend/|tests/)

  # Documentation
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: ["--convention=google"]
        additional_dependencies: [toml]

style: Improve code consistency and readability across multiple files
  backend/settings.py
  backend/tradingbot/alert_system.py
  backend/tradingbot/analytics/advanced_analytics.py
  backend/tradingbot/apimanagers.py
  backend/tradingbot/data/client.py
  backend/tradingbot/data/corporate_actions.py
  backend/tradingbot/data/quality.py
  backend/tradingbot/execution/replay_guard.py
  backend/tradingbot/options_calculator.py
  backend/tradingbot/production/core/production_cli.py
  backend/tradingbot/production/core/production_integration.py
  backend/tradingbot/production/core/production_manager.py
  backend/tradingbot/production/core/production_strategy_manager.py
  backend/tradingbot/production/data/production_data_integration.py
  backend/tradingbot/risk/engine.py
  backend/tradingbot/risk/greek_exposure_limits.py
  backend/tradingbot/strategies/earnings_calendar_provider.py
  backend/tradingbot/strategies/earnings_protection.py
  backend/tradingbot/strategies/index_baseline.py
  backend/tradingbot/strategies/spx_credit_spreads.py
  backend/tradingbot/strategies/wsb_dip_bot.py
  tests/backend/tradingbot/test_production_scanner.py
  tests/backend/tradingbot/test_production_strategy_manager.py
  tests/backend/tradingbot/test_production_strategy_manager_focused.py
  tests/core/test_alert_system.py
  tests/core/test_dip_scanner.py
  tests/integration/test_all_wsb_strategies.py
  tests/integration/test_django_setup.py
  tests/strategies/test_spx_credit_spreads.py
  tests/test_production_modules.py
Due: django-check, pytest-check

style: Enhance error handling and input validation in analytics calculations
  backend/tradingbot/analytics/advanced_analytics.py
  backend/tradingbot/data/quality.py
  conftest.py
  pytest.ini
  wheel_portfolio.json
Due: django-check, pytest-check

style: Add skip markers for problematic tests due to infrastructure issues
  add_remaining_skips.py
  backend/tradingbot/analytics/advanced_analytics.py
  backend/tradingbot/strategies/index_baseline.py
  fix_advanced_analytics_skips.py
  run_isolated_tests.py
  skip_final_tests.py
  skip_problematic_tests.py
  skip_remaining_tests.py
  tests/data/test_data_quality_comprehensive.py
  tests/phases/test_phase1_integration.py
  tests/phases/test_phase2_comprehensive.py
  tests/phases/test_phase4_comprehensive.py
  tests/production/test_production_data_integration_real_api.py
  tests/risk/test_greek_exposure_comprehensive.py
  tests/strategies/test_earnings_protection_real_api.py
  tests/strategies/test_index_baseline_real_api.py
  tests/strategies/test_spx_credit_spreads_real_api.py
  tests/strategies/test_swing_trading_real_api.py
  tests/strategies/test_wsb_dip_bot.py
  tests/test_advanced_analytics_comprehensive.py
  tests/test_isolation.py
  tests/test_options_calculator_real_api.py
  tests/test_utils.py
  tests/test_wheel_strategy_comprehensive.py
  tests/test_wsb_dip_bot_comprehensive.py
  wheel_portfolio.json
Due: django-check, pytest-check

style: Update type hints for optional parameters and improve code readability
  backend/tradingbot/apimanagers.py
  backend/tradingbot/data/client.py
  backend/tradingbot/data/quality.py
  backend/tradingbot/risk/engine.py
  backend/tradingbot/risk/greek_exposure_limits.py
  tests/core/test_dip_scanner.py
  tests/data/test_data_client_simple.py
  tests/production/test_production_cli_comprehensive.py
  tests/production/test_production_core_comprehensive.py
  tests/production/test_production_data_integration_real_api.py
  tests/strategies/test_index_baseline_real_api.py
  tests/strategies/test_swing_trading_real_api.py
  tests/test_utils.py
  wheel_portfolio.json
Due: django-check, pytest-check

style: Add iteration helper utilities for safe dictionary iteration patterns
  tests/risk/test_greek_exposure_comprehensive.py
  tests/test_production_strategy_manager_comprehensive.py
  utils/iteration_helpers.py
Due: pytest-check

style: Add comprehensive getting started guide and strategy tuning documentation
  GETTING_STARTED_REAL.md
  README.md
  STRATEGY_TUNING_GUIDE.md
  validate_strategies.py
Due: none

style: Update gitleaks configuration and CI environment variables for testing
  .github/workflows/ci.yml
  .github/workflows/django.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .state/example_journal.cursor
  .state/example_journal.jsonl
  backend/settings.py
  backend/test_settings.py
  backend/tradingbot/config/settings.py
  requirements.txt
  wheel_portfolio.json
Due: django-check, pytest-check

style: Enhance API key validation and update database user creation in CI
  .github/workflows/django.yml
  backend/tradingbot/apimanagers.py
  tests/property/test_sizing_properties.py
  wheel_portfolio.json
Due: django-check, pytest-check

style: Enhance API key validation and update database user creation in CI
  .gitleaks.toml
  tests/integration/test_django_setup.py
Due: pytest-check

style: Enhance API key validation and update database user creation in CI
  tests/integration/test_django_setup.py
  tests/property/test_data_quality_properties.py
Due: pytest-check

style: Enhance API key validation and update database user creation in CI
  .gitleaks.toml
Due: none

style: Enhance API key validation and update database user creation in CI
  validate_strategies.py
  wheel_portfolio.json
Due: none

style: Improve data validation and error handling in client and quality modules
  backend/tradingbot/data/client.py
  backend/tradingbot/data/quality.py
  tests/property/test_data_quality_properties.py
  tests/test_data_client.py
Due: django-check, pytest-check

style: Improve data validation for test environments in client module
  backend/tradingbot/data/client.py
Due: django-check, pytest-check

style: Enhance DataFrame handling in client module for better test compatibility
  backend/tradingbot/data/client.py
  tests/test_data_client.py
Due: django-check, pytest-check

style: Enhance DataFrame handling in client module for CI compatibility
  backend/tradingbot/data/client.py
  tests/test_data_client.py
Due: django-check, pytest-check

style: Enhance DataFrame handling in client module for CI compatibility
  tests/test_data_client.py
Due: pytest-check

style: Enhance DataFrame handling in client module for CI compatibility
  backend/tradingbot/data/client.py
  backend/tradingbot/production/data/production_data_integration.py
  utils/yfinance_hardening.py
Due: django-check, pytest-check

style: Improve error handling and clean up imports in client module tests
  backend/tradingbot/data/client.py
  tests/test_data_client.py
Due: django-check, pytest-check

style: Improve error handling and clean up imports in client module tests
  wheel_portfolio.json
Due: none

style: Replace raw SQL with Django's timezone-aware current time in get_time function
  backend/home/views.py
Due: django-check, pytest-check

style: Replace raw SQL with Django's timezone-aware current time in get_time function
  .gitleaks.toml
Due: none

style: Refactor imports for improved organization and clarity in environment configuration files
  backend/tradingbot/common/__init__.py
  backend/tradingbot/config/environments/development.py
  backend/tradingbot/config/environments/production.py
  backend/tradingbot/config/environments/testing.py
  backend/tradingbot/models/__init__.py
  backend/tradingbot/risk/compliance/__init__.py
  backend/tradingbot/strategies/__init__.py
  wheel_portfolio.json
Due: django-check, pytest-check

style: Update README structure and import paths for clarity and organization
  README.md
  docs/PHASE2_README.md
  docs/user-guides/README.md
Due: none

style: Update README structure and import paths for clarity and organization
  .state/example_journal.cursor
  .state/example_journal.jsonl
  integration_examples.py
  run.py
  simple_cli.py
Due: none

style: Update README structure and import paths for clarity and organization
  README.md
  backend/tradingbot/config/environments/__init__.py
  backend/tradingbot/production/tests/test_production_strategies.py
  examples/macos/README.md
  examples/macos/com.wallstreetbots.trading.plist
  test_env_keys.py
Due: django-check, pytest-check

style: Update README structure and import paths for clarity and organization
  test_env_keys.py
Due: none

style: Enhance README with signal validation framework and data quality monitoring details
  README.md
Due: none

style: Enhance README with signal validation framework and data quality monitoring details
  tests/property/test_sizing_properties.py
Due: pytest-check

style: Enhance README with signal validation framework and data quality monitoring details
  wheel_portfolio.json
Due: none

style: Add WSB mode configuration and update README with test count
  README.md
  backend/tradingbot/data/quality/__init__.py
  backend/tradingbot/risk/engines/__init__.py
  backend/tradingbot/strategies/base/__init__.py
  backend/tradingbot/strategies/base/base_strategy.py
  backend/tradingbot/strategies/base/production_strategy.py
  backend/tradingbot/strategies/base/risk_managed_strategy.py
  backend/tradingbot/strategies/production/production_wsb_dip_bot.py
  backend/validation/broker_accounting/wash_sale.py
  backend/validation/drift_monitor.py
  backend/validation/fast_edge/overnight_close_open.py
  backend/validation/fast_edge/spy_csp_baseline.py
  backend/validation/operations/clock_guard.py
  backend/validation/parameter_registry.py
  examples/wsb_dip_bot_config.py
  tests/data/test_data_quality_simple.py
  tests/validation/test_alpha_gate.py
  wheel_portfolio.json
Due: django-check, pytest-check

style: Refactor imports for consistency, enhance error handling, and update README for clarity
  README.md
  backend/tradingbot/alert_system.py
  backend/tradingbot/analytics/market_regime_adapter.py
  backend/tradingbot/apimanagers.py
  backend/tradingbot/production/backtesting/walk_forward_backtester.py
  backend/tradingbot/production/core/portfolio_capital_allocator.py
  backend/tradingbot/production/core/production_integration.py
  backend/tradingbot/production/core/production_strategy_manager.py
  backend/tradingbot/production/core/production_strategy_wrapper.py
  backend/tradingbot/production/data/production_data_integration.py
  backend/tradingbot/production/execution/advanced_slippage_model.py
  backend/tradingbot/production/monitoring/validation_accuracy_monitor.py
  backend/tradingbot/production/optimization/allocation_weight_tuner.py
  backend/tradingbot/production/testing/portfolio_allocator_tester.py
  backend/tradingbot/production/tests/test_all_components.py
  backend/tradingbot/production/tests/test_components_standalone.py
  backend/tradingbot/production/tests/test_production_integration.py
  backend/tradingbot/production/tests/test_production_strategies.py
  docs/HOW_IT_WORKS.md
  docs/QUICK_START.md
  docs/USER_GUIDE_SUMMARY.md
  docs/user-guides/GETTING_STARTED_REAL.md
  ml/tradingbots/components/naiveportfoliomanager.py
  ml/tradingbots/components/test_metrics.py
  ml/tradingbots/components/test_montecarlo.py
  ml/tradingbots/components/utils.py
  ml/tradingbots/pipelines/test_pipeline.py
  tests/property/test_sizing_properties.py
  tests/unit/test_market_regime_adapter_comprehensive.py
  wheel_portfolio.json
Due: django-check, pytest-check

feat: Add comprehensive trading platform with framework integrations
  backend/auth0login/api_views.py
  backend/auth0login/services/trading_gate.py
  backend/auth0login/templates/home/strategy-wheel.html
  backend/auth0login/urls.py
Due: django-check, pytest-check

fix: Fix production strategy bugs and test infrastructure issues
  backend/tradingbot/production/core/production_integration.py
  backend/tradingbot/strategies/production/production_earnings_protection.py
  backend/tradingbot/strategies/production/production_index_baseline.py
  backend/tradingbot/strategies/production/production_wsb_dip_bot.py
  tests/services/test_allocation_manager.py
  tests/services/test_user_profile.py
  tests/strategies/test_production_earnings_protection.py
  tests/strategies/test_production_spx_credit_spreads.py
  tests/strategies/test_production_wsb_dip_bot.py
Due: django-check, pytest-check

fix: Add django_db marks and fix patch targets for service tests
  tests/services/test_recovery_manager.py
  tests/services/test_risk_assessment.py
Due: pytest-check
