Repository tashiscool/WallStreetBots: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, pytest-check

django-check:
  name: Django system check
  entry: python manage.py check
  language: system
  pass_filenames: false

pytest-check:
  name: pytest
  entry: python -m pytest tests/ -x --tb=short
  language: system
  pass_filenames: false

refactor: Convert heavily mocked tests to real integration tests
  ml/tradingbots/components/hiddenmarkov.py
  tests/ml_tests/test_market_data_fetcher.py
  tests/ml_tests/test_rl_training.py
  tests/services/test_allocation_manager.py
  tests/services/test_benchmark_service.py
  tests/services/test_circuit_breaker_persistence.py
  tests/services/test_digest_service.py
  tests/services/test_leaderboard_service.py
  tests/services/test_portfolio_builder.py
  tests/services/test_tax_optimizer.py
  tests/services/test_trade_explainer.py
  tests/services/test_trade_reasoning.py
Due: pytest-check

fix: Resolve 27 services test failures from missing imports and wrong patch targets
  backend/auth0login/services/strategy_backtest_adapter.py
  backend/tradingbot/models/models.py
  tests/services/test_circuit_breaker_persistence.py
  tests/services/test_market_context.py
Due: django-check, pytest-check

fix: Add setup scripts, migrations, and admin fix for project to run
  backend/auth0login/migrations/0006_credential_created_at_credential_is_valid_and_more.py
  backend/tradingbot/admin.py
  backend/tradingbot/migrations/0012_backtestrun_mlmodel_rlagent_signalprovider_and_more.py
  scripts/run.sh
  scripts/setup.sh
  scripts/setup_postgres.sh
Due: django-check, pytest-check

docs: Update all documentation to reflect current platform state
  INTEGRATION_GAPS_ANALYSIS.md
  PROJECT_ARCHITECTURE_MAP.md
  README.md
  docs/COMPLETE_IMPLEMENTATION_SUMMARY.md
  docs/FINAL_PROJECT_SUMMARY.md
  docs/HOW_IT_WORKS.md
  docs/PHASE4_IMPLEMENTATION_SUMMARY.md
  docs/PRODUCTION_ROADMAP.md
  docs/PROJECT_STRUCTURE.md
  docs/QUICK_START.md
  docs/USER_GUIDE_SUMMARY.md
  docs/web/running_the_app.md
  ml/README.md
Due: none

feat: Add market microstructure modules - L2 order book, adverse selection, and maker/taker fees
  backend/tradingbot/execution/__init__.py
  backend/tradingbot/execution/adverse_selection.py
  backend/tradingbot/execution/fee_model.py
  backend/tradingbot/execution/order_book.py
  backend/tradingbot/production/execution/advanced_slippage_model.py
  tests/execution/test_adverse_selection.py
  tests/execution/test_fee_model.py
  tests/execution/test_order_book.py
Due: django-check, pytest-check

feat: Add auto-retraining pipeline and alternative data sources
  backend/tradingbot/data/sources/__init__.py
  backend/tradingbot/data/sources/dark_pool.py
  backend/tradingbot/data/sources/fred.py
  backend/tradingbot/framework/alpha_models/__init__.py
  backend/tradingbot/framework/alpha_models/insider_alpha.py
  backend/tradingbot/framework/alpha_models/options_flow_alpha.py
  backend/tradingbot/sentiment/sources/__init__.py
  backend/tradingbot/sentiment/sources/earnings_source.py
  backend/tradingbot/sentiment/sources/insider_source.py
  ml/tradingbots/training/__init__.py
  ml/tradingbots/training/model_registry.py
  ml/tradingbots/training/retraining_orchestrator.py
  ml/tradingbots/training/retraining_policy.py
  tests/data/test_dark_pool.py
  tests/data/test_fred.py
  tests/framework/test_options_flow_alpha.py
  tests/ml/test_model_registry.py
  tests/ml/test_retraining_orchestrator.py
  tests/ml/test_retraining_policy.py
  tests/sentiment/test_earnings_source.py
  tests/sentiment/test_insider_alpha.py
  tests/sentiment/test_insider_source.py
Due: django-check, pytest-check

docs: Update README with auto-retraining pipeline and alternative data sources
  README.md
Due: none

feat: Add institutional execution controls, operational runbooks, and platform RBAC
  backend/auth0login/api_views.py
  backend/auth0login/apps.py
  backend/auth0login/decorators.py
  backend/auth0login/migrations/0007_setup_platform_rbac.py
  backend/auth0login/permissions.py
  backend/auth0login/signals.py
  backend/auth0login/urls.py
  backend/tradingbot/admin.py
  backend/tradingbot/execution/__init__.py
  backend/tradingbot/execution/fix_adapter.py
  backend/tradingbot/execution/maker_checker.py
  backend/tradingbot/execution/oms.py
  backend/tradingbot/execution/pre_trade_compliance.py
  docs/runbooks/circuit-breaker.md
  docs/runbooks/data-quality.md
  docs/runbooks/disaster-recovery.md
  docs/runbooks/high-reject-rate.md
  docs/runbooks/incident-response.md
  docs/runbooks/postmortem-template.md
  docs/runbooks/reconciliation-breaks.md
  docs/runbooks/stale-data.md
  scripts/backup.sh
  scripts/dr_test.py
  scripts/restore.sh
  tests/auth/__init__.py
  tests/auth/test_rbac.py
  tests/execution/test_fix_adapter.py
  tests/execution/test_maker_checker.py
  tests/execution/test_oms.py
  tests/execution/test_pre_trade_compliance.py
Due: django-check, pytest-check

feat: Add persistent audit trail for security-critical platform actions
  backend/auth0login/api_views.py
  backend/auth0login/audit.py
  backend/auth0login/migrations/0008_add_audit_log.py
  backend/auth0login/urls.py
  backend/auth0login/views.py
  backend/settings.py
  backend/tradingbot/admin.py
  tests/auth/test_audit.py
Due: django-check, pytest-check

feat: Close money-printer-death gaps to 100% across backtest leakage, execution costs, and regime shift
  backend/tradingbot/analytics/regime_accuracy_tracker.py
  backend/tradingbot/backtesting/optimization_service.py
  backend/tradingbot/framework/execution_models/__init__.py
  backend/tradingbot/framework/execution_models/almgren_chriss.py
  backend/tradingbot/risk/tail_hedge.py
  backend/validation/statistical_rigor/__init__.py
  backend/validation/statistical_rigor/deflated_sharpe.py
  backend/validation/statistical_rigor/leakage_detection.py
  backend/validation/statistical_rigor/pbo.py
  backend/validation/statistical_rigor/reality_check.py
  ml/tradingbots/components/online_hmm.py
  tests/analytics/test_regime_accuracy.py
  tests/backtesting/test_param_space_warnings.py
  tests/framework/test_almgren_chriss.py
  tests/ml/test_online_hmm.py
  tests/risk/test_tail_hedge.py
  tests/validation/test_bonferroni_fix.py
  tests/validation/test_deflated_sharpe.py
  tests/validation/test_leakage_enforcement.py
  tests/validation/test_promotion_gate.py
Due: django-check, pytest-check

fix: Use real probability vectors for Brier/log-loss and add max_match_delta guard to update_actual
  backend/tradingbot/analytics/regime_accuracy_tracker.py
  tests/analytics/test_regime_accuracy.py
Due: django-check, pytest-check

fix: AlmgrenChriss slice filtering, HMM regime bridge, and impact calibration from slippage history
  backend/tradingbot/analytics/regime_accuracy_tracker.py
  backend/tradingbot/framework/execution_models/__init__.py
  backend/tradingbot/framework/execution_models/almgren_chriss.py
  tests/analytics/test_regime_accuracy.py
  tests/framework/test_almgren_chriss.py
Due: django-check, pytest-check

fix: Add impact lag validation to ImpactCalibrator to prevent lookahead contamination
  backend/tradingbot/framework/execution_models/almgren_chriss.py
  tests/framework/test_almgren_chriss.py
Due: django-check, pytest-check

fix: Buffer mid-price observations for accurate horizon measurement and require timestamps in calibrator
  backend/tradingbot/execution/adverse_selection.py
  backend/tradingbot/framework/execution_models/almgren_chriss.py
  tests/execution/test_adverse_selection.py
  tests/framework/test_almgren_chriss.py
Due: django-check, pytest-check

docs: Update README with Almgren-Chriss execution and impact calibration features
  README.md
Due: none

fix: Comprehensive bug fixes across 22 files — runtime crashes, risk wiring, strategy logic, security
  backend/auth0login/api_views.py
  backend/settings.py
  backend/tradingbot/analytics/market_regime_adapter.py
  backend/tradingbot/apimanagers.py
  backend/tradingbot/apiutility.py
  backend/tradingbot/apps.py
  backend/tradingbot/config/base.py
  backend/tradingbot/config/settings.py
  backend/tradingbot/core/trading_interface.py
  backend/tradingbot/execution/oms.py
  backend/tradingbot/execution/replay_guard.py
  backend/tradingbot/models/models.py
  backend/tradingbot/production/core/production_integration.py
  backend/tradingbot/production/integration_example.py
  backend/tradingbot/risk/__init__.py
  backend/tradingbot/risk/circuit_breaker.py
  backend/tradingbot/risk_management.py
  backend/tradingbot/strategies/implementations/wheel_strategy.py
  backend/tradingbot/synchronization.py
  backend/tradingbot/validation/signal_strength_validator.py
  backend/tradingbot/views.py
  docker/gunicorn.conf.py
Due: django-check, pytest-check

fix: Strategy-level bug fixes — Decimal type safety, optional deps, SMA alignment, IV rank floor
  backend/tradingbot/analysis/__init__.py
  backend/tradingbot/core/trading_interface.py
  backend/tradingbot/monitoring/system_health.py
  backend/tradingbot/options/smart_selection.py
  backend/tradingbot/strategies/production/production_debit_spreads.py
  backend/tradingbot/strategies/production/production_index_baseline.py
  backend/tradingbot/strategies/production/production_leaps_tracker.py
  backend/tradingbot/strategies/production/production_lotto_scanner.py
  backend/tradingbot/strategies/production/production_momentum_weeklies.py
  backend/tradingbot/strategies/production/production_swing_trading.py
  backend/tradingbot/strategies/production/production_wheel_strategy.py
  tests/analysis/test_analysis_init_optional_imports.py
  tests/monitoring/test_system_health.py
Due: django-check, pytest-check

Add comprehensive Codex review and fix prompt
  CODEX_REVIEW_PROMPT.md
Due: none

chore: commit pending WallStreetBots updates
  =3.14.0
  backend/auth0login/api_views.py
  backend/auth0login/views.py
  backend/health_views.py
  backend/tradingbot/CLAUDE.md
  backend/tradingbot/__init__.py
  backend/tradingbot/analysis/tearsheet.py
  backend/tradingbot/backtesting/CLAUDE.md
  backend/tradingbot/core/trading_interface.py
  backend/tradingbot/data/CLAUDE.md
  backend/tradingbot/framework/CLAUDE.md
  backend/tradingbot/framework/alpha_models/CLAUDE.md
  backend/tradingbot/indicators/CLAUDE.md
  backend/tradingbot/options/CLAUDE.md
  backend/tradingbot/production/core/production_integration.py
  backend/tradingbot/production/core/production_strategy_manager.py
  backend/tradingbot/strategies/base/CLAUDE.md
  backend/tradingbot/strategies/implementations/CLAUDE.md
  backend/tradingbot/strategies/production/production_debit_spreads.py
  backend/tradingbot/strategies/production/production_leaps_tracker.py
  backend/tradingbot/strategies/production/production_lotto_scanner.py
  backend/tradingbot/strategies/production/production_momentum_weeklies.py
  backend/tradingbot/strategies/production/production_swing_trading.py
  backend/tradingbot/strategies/production/production_wheel_strategy.py
  backend/validation/CLAUDE.md
  docs/CLAUDE.md
  ml/tradingbots/components/CLAUDE.md
  ml/tradingbots/training/CLAUDE.md
  tests/api/test_api_views_comprehensive.py
  tests/strategies/test_production_momentum_weeklies.py
  tests/strategies/test_production_swing_trading.py
Due: django-check, pytest-check

fix: Security hardening — command injection, unsafe deserialization, credential defaults
  backend/auth0login/api_views.py
  backend/auth0login/views.py
  backend/settings.py
  backend/tradingbot/analysis/__init__.py
  backend/tradingbot/config/base.py
  backend/tradingbot/core/trading_interface.py
  backend/tradingbot/monitoring/system_health.py
  backend/tradingbot/options/smart_selection.py
  backend/tradingbot/strategies/production/production_index_baseline.py
  create_executable.py
  ml/tradingbots/training/training_utils.py
  tests/analysis/test_analysis_init_optional_imports.py
  tests/monitoring/test_system_health.py
  wheel_portfolio.json
Due: django-check, pytest-check

fix: Alpaca SDK unification, merge conflict resolution, security fixes
  backend/auth0login/api_views.py
  backend/auth0login/urls.py
  backend/auth0login/views.py
  backend/tradingbot/analysis/__init__.py
  backend/tradingbot/core/trading_interface.py
  backend/tradingbot/monitoring/system_health.py
  backend/tradingbot/options/smart_selection.py
  backend/tradingbot/strategies/production/production_index_baseline.py
  ml/tradingbots/components/hiddenmarkov.py
  ml/tradingbots/components/utils.py
  tests/analysis/test_analysis_init_optional_imports.py
  tests/monitoring/test_system_health.py
  wheel_portfolio.json
Due: django-check, pytest-check

fix: Update test mocks for Alpaca v2 SDK migration
  tests/django_templates/test_templates.py
  tests/unit/test_views_comprehensive.py
Due: pytest-check

fix: complete SDK/model hardening and canonical trade ledger
  backend/auth0login/migrations/0009_rename_auth0login_audit_user_ts_auth0login__user_id_c6ae1b_idx_and_more.py
  backend/tradingbot/data/consolidators/renko.py
  backend/tradingbot/migrations/0013_alter_order_options_order_alpaca_order_id_and_more.py
  backend/tradingbot/models.py
  backend/tradingbot/models/__init__.py
  backend/tradingbot/models/models.py
  backend/tradingbot/validation/request_validators.py
  backend/tradingbot/views.py
  docs/MODEL_MODULE_DEPRECATION_PLAN.md
  ml/tradingbots/components/__init__.py
  ml/tradingbots/components/hiddenmarkov.py
  requirements.txt
  tests/backend/tradingbot/test_stock_trade_transaction_ledger.py
  tests/ml_tests/test_hiddenmarkov.py
Due: django-check, pytest-check

fix: Replace dip_scanner placeholder with real IDataSource integration
  backend/tradingbot/dip_scanner.py
Due: django-check, pytest-check

chore: align dip scanner cache typing and remove stale comment
  backend/tradingbot/dip_scanner.py
Due: django-check, pytest-check

Enforce live-trading gate and harden benchmark/circuit APIs
  backend/auth0login/api_views.py
  backend/auth0login/templates/home/setup-wizard.html
  backend/auth0login/urls.py
  backend/tradingbot/apimanagers.py
  backend/tradingbot/apiutility.py
  backend/tradingbot/views.py
Due: django-check, pytest-check

fix: enforce production hardening and fail-closed controls
  .github/workflows/ci.yml
  .github/workflows/django.yml
  .github/workflows/security.yml
  backend/asgi.py
  backend/settings.py
  backend/tradingbot/dip_scanner.py
  backend/tradingbot/management/commands/generate_leaderboard_snapshots.py
  backend/tradingbot/production/data/production_data_integration.py
  backend/tradingbot/trading_system.py
  backend/wsgi.py
  manage.py
Due: django-check, pytest-check

Update wheel portfolio configuration
  wheel_portfolio.json
Due: none

Add production narrative rerate strategy
  backend/tradingbot/core/trading_interface.py
  backend/tradingbot/production/__init__.py
  backend/tradingbot/production/strategies/__init__.py
  backend/tradingbot/strategies/production/__init__.py
  backend/tradingbot/strategies/production/production_index_baseline.py
  backend/tradingbot/strategies/production/production_narrative_rerate.py
  tests/strategies/test_production_narrative_rerate.py
Due: django-check, pytest-check

Path conditions:
  django-check: any of: ^(backend/|manage\.py) and \.py$
  pytest-check: any of: ^(backend/|tests/) and \.py$
